body{
    margin: 0;
    overflow: hidden;
    background: white;
}

.sphere {
    fill: #2079cd;
}
.country {
    fill: #63d263;
    stroke: darkgreen;
    stroke-opacity: 0.5;
}

.country:hover {
    fill: hotpink;
    stroke: deeppink;
    cursor: pointer;
}

